<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  </head>

  <body>
    <header>
        <h1>Blink</h1>
      
        <div >
          <a href="/">blink</a>
          <a href="/about">about</a>
          <a href="/help">help</a>
        </div>
      
      </header>
    <div class="main-content">
            <img class="portrait" src="/static/img/about.jpg" alt="">
    </div>

    <div>
    <p>Blink to stay healthy!</p>
    </div>
    <!-- <p>On average, most people blink 15 to 20 times per minute. This helps your eyes stay healthy by keeping them oxygenated and moist, and clearing out debris.</p>
    <p>Make sure to take brakes every 20 minutes!</p> -->
  </body>
  <footer>
    <p>Version 1.0.0</p>
  </footer>
</html>
