<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  </head>

  <header>
    <h1>Blink</h1>
  
    <div >
      <a href="/">blink</a>
      <a href="/about">about</a>
      <a href="/help">help</a>
    </div>
  
  </header>


  <body>
    <div class="main-content">
        <p>
        permisions required : camera and desktop notification.
        <a href="https://support.google.com/chrome/answer/114662?hl=en&co=GENIE.Platform%3DDesktop&oco=0" target="_blank">Strugling..?</a>
        </p> 
        <img class = portrait src="/static/img/help.webp" alt="">
    </div>
    <footer>
        <p>Version 1.0.0</p>
      </footer>  
      
      
  </body>





</html>
